html {
    direction: ltr;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid blue;
}

header {
    background-color: white;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
}

.Content2 {
    background-color: #276CE4
}

.link {
    text-align: center;
    accent-color: auto;
}
.main_nav {
    /*background-image: url("Images/SELECT.png");*/
    background-color: #3AAFB9;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: url("Images/SELECT.png");
        font-size: 24px;
        color: darkblue;
        margin: 10px;
    }


.center {
    background-color: #3AAFB9;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: #3AAFB9;
    flex: 4;
    color: white;
    padding: 5px 10px;
}


aside {
    background-color: gray;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: orange;
}
